{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Universal Tech Academy.</h1>

            {% if session['username'] %}
                <h3>Let's get started.</h3>
            {% else %}
                <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}

            <div style="text-align:left;">
                <h2>About</h2> 
                
                <p>A Course Management System (CMS) that focuses on tracking the courses a user is enrolled in typically includes features that allow users to view their current course enrollments, track progress, and access course materials. Users can log in to the system to see a list of all the courses they are enrolled in, along with details like course titles, instructors, and schedules. The system may also offer a dashboard that provides updates on upcoming assignments, deadlines, and announcements related to each course. </p>

                <p>In addition to enrollment tracking, a CMS may provide easy access to course resources such as lecture notes, reading materials, and multimedia content. Users can also use the system to monitor their academic progress, including grades and completion of assignments. Overall, the CMS streamlines the management of course enrollments, helping users stay organized and engaged with their educational experience.</p> 
            </div>

        </div>
    </div>
{% endblock %}
